doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://localhost:35729/livereload.js')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript').
        var socket = io.connect('http://localhost:24601');
        socket.on('log', function(data) {
            console.log(data);
        });
  body
    block content
